<a href="https://colab.research.google.com/github/daonly/personal/blob/main/23_2_%EB%8D%B0%EC%9D%B4%ED%84%B0%EA%B3%BC%ED%95%99%EC%9D%84%EC%9C%84%ED%95%9C%EC%88%98%ED%95%99%EA%B3%BC%ED%94%84%EB%A1%9C%EA%B7%B8%EB%9E%98%EB%B0%8D_%EC%8B%A4%EC%8A%B5_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Python 기본

Welcome to Python! Python은 쉬우면서도 강력한 프로그래밍 언어로 데이터 과학 및 기타 분야에서 널리 사용되는 언어입니다.

Python을 Google Colaboratory(이하 Colab)에서 실습해봅니다. Colab은 Jupyter Notebook 환경을 Cloud로 제공하는 서비스입니다.

Jupyter Notebook은 데이터 과학자가 코드 실행 결과를 바로 확인할 수 있는 장점이 있습니다. 책을 Jupyter Notebook으로만 작성할 수도 있습니다. [(예시)](https://github.com/fastai/fastbook)

### 1. 파이썬을 계산기로 사용하기

산수를 위해서 더하기는 '+', 빼기는 '-', 곱하기는 '*' 그리고 나누기는 '/' 가 사용됩니다. 괄호 '('와 ')'를 통해 연산 순위를 지정하거나 바꿀 수 있습니다.

In [ ]:
# ctrl+enter 하면 cell 실행.
# shift+enter 하면 cell 실행 + 다음 cell로 넘어감.

1+2

3

In [ ]:
20-12

8

In [ ]:
200/3

66.66666666666667

거듭제곱은 `**` 연산자를 사용합니다.

In [ ]:
5**2

25

몫과 나머지에 대한 연산은 각각 `//`와 `%` 연산자를 사용합니다.

In [ ]:
5 // 2

2

In [ ]:
5 % 2

1

### 2. 문자열 사용하기

Python에서 문자열은 Single quotes나 (`'...'`) Double quotes (`"..."`)를 사용합니다.

따옴표(quotes)를 문자 안에 쓰고 싶을 때, 두 가지 방법이 있습니다.

In [ ]:
# 따옴표를 구분해서 쓰면 ㄱㄴ

'"모자가 멋지군요" 나는 슬쩍 떠보았다.'

'"모자가 멋지군요" 나는 슬쩍 떠보았다.'

In [ ]:
# 이스케이프 형식을 사용
"\"모자가 멋지군요\" 나는 슬쩍 떠보았다."

'"모자가 멋지군요" 나는 슬쩍 떠보았다.'

참고: [w3shcool - Python escape characters](https://www.w3schools.com/python/gloss_python_escape_characters.asp)

`\` 뒤에 나오는 문자가 특수 문자로 취급되게 하고 싶지 않다면, 첫 따옴표 앞에 r 을 붙여서 날 문자열 (raw string) 을 만들 수 있습니다. `r'<경로>'`는 데이터를 불러올 때 특히 편합니다.

In [ ]:
# 경로에서 특수문자가 아니라 그냥 문자열로 취급하게 하려면 이렇게 하면 안됨.
print('C:\some\name')

C:\some
ame

In [ ]:
print(r'C:\some\name')

C:\some\name

Python에서는 문자를 계산할 수도 있습니다.

In [ ]:
'ba'+'na'*2

'banana'

두 개 이상의 문자열 리터럴 (즉, 따옴표로 둘러싸인 것들) 가 연속해서 나타나면 자동으로 이어 붙여집니다.

In [ ]:
'생활' '양식'

'생활양식'

In [ ]:
# R의 chain method?처럼 보기 쉬운 코드 만들 때 좋다~
 ('안녕'
'하세요')

'안녕하세요'

참고: [Pandas chain method](https://practicaldatascience.co.uk/data-science/how-to-use-method-chaining-in-pandas)

### 3. 변수

변수는 등호 `=` 를 사용하여 할당합니다.

In [ ]:
radius = 2

In [ ]:
3.14 * (radius**2)

12.56

In [ ]:
base = 6.0
height = 3
1/2 * base * height

9.0

변수의 자료형은 `type` 함수를 통해서 확인할 수 있습니다.

In [ ]:
type(radius)

int

In [ ]:
type(base)

float

참고: [w3school - Python data types](https://www.w3schools.com/python/python_datatypes.asp)

### 4. 리스트

리스트 자료형은 여러 값을 묶는 것에 사용되어, 데이터를 능숙히 다루기 위해서 익숙해지면 좋습니다.

In [ ]:
list()

[]

In [ ]:
[]

[]

문자나 숫자 또는 리스트도 리스트 안에 포함될 수 있습니다.

In [ ]:
[1,2,3,4,5]

[1, 2, 3, 4, 5]

In [ ]:
['Pearl','Lee', 1, 2]

['Pearl', 'Lee', 1, 2]

In [ ]:
['a', 'b', ['c', 'd']]

['a', 'b', ['c', 'd']]

여러 인덱싱 방법이 사용 가능합니다.

In [13]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [ ]:
letters[0]

'a'

In [ ]:
letters[0:2]   # [start, end)

['a', 'b']

In [3]:
letters[4:]

['e', 'f', 'g']

In [4]:
letters[-1]

'g'

In [5]:
letters[:]

['a', 'b', 'c', 'd', 'e', 'f', 'g']

슬라이싱 후 값 대입도 가능합니다.

In [7]:
# step을 지정할 수 있음.

letters[::2]

['a', 'c', 'e', 'g']

In [8]:
letters[1::2]

['b', 'd', 'f']

In [10]:
letters[2:5] = ['C', 'D', 'E']

In [11]:
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

중첩된 리스트에서의 슬라이싱은 아래와 같습니다.

In [12]:
numbers = [1,2,3,4,5,6,7]

In [14]:
x = [numbers, letters]

In [15]:
x

[[1, 2, 3, 4, 5, 6, 7], ['a', 'b', 'c', 'd', 'e', 'f', 'g']]

In [17]:
x[1][2:5]

['c', 'd', 'e']

아울러 리스트끼리 연결할 떄는 `+`, 하나의 리스트를 여러번 반복하고 싶을 때 `*`를 사용할 수 있습니다.

In [18]:
numbers + letters

[1, 2, 3, 4, 5, 6, 7, 'a', 'b', 'c', 'd', 'e', 'f', 'g']

In [19]:
numbers * 2

[1, 2, 3, 4, 5, 6, 7, 1, 2, 3, 4, 5, 6, 7]

리스트는 하나의 자료형이기 때문에 미리 만들어진 메소드(함수)가 있습니다. 몇 가지를 소개하자면,

`list.append(x)`는 리스트 끝에 항목을 더합니다.

In [20]:
# python은 object-oriented함.

letters.append('h')

In [21]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h']

`list.remove(x)`는 x와 같은 첫 번째 항목을 삭제합니다.

In [22]:
letters.remove('h')

In [23]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

```python
list.sort(*, key=None, reverse=False)
```

리스트의 항목을 **제 자리에서** 정렬합니다.

In [26]:
letters.sort(reverse = True)

In [25]:
letters

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [27]:
sorted(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [30]:
letters

['g', 'f', 'e', 'd', 'c', 'b', 'a']

### 5. 함수

함수의 기본적인 구조는 아래와 같습니다.

```python
def f(x):
    
    <처리>

    return <결과>
```

함수를 정의하면서 연습해봅니다.

In [31]:
def f_sum(a,b):
  return a + b

In [32]:
def f_sum(a, b):
  result = a + b
  return result

In [34]:
# 이렇게 한 줄에도 작성 ㄱㄴ

def f_sun(a, b): return a+b

In [37]:
f_sum(3, 5)

8

*docstring*은 다른 사용자가 사용자 정의 함수의 사용법을 알 수 있게 도와줍니다.

In [43]:
def f_sum(a, b):
  '''
  Prameters
  ---
  a: 첫번째 수
  b: 두번째 수

  Returns
  ---
  더한 값
  '''
  result = a+b   #여기서의 result는 함수 안에 정의된 것으로, 함수 밖에서 정의되는 것과는 다름!
  return result

In [41]:
f_sum

`<function>?` 은 함수의 사용방법 확인할 때 사용합니다.

In [44]:
f_sum?

In [45]:
def f_sum(a, b):
  '''
  Prameters
  ---
  a: 첫번째 수
  b: 두번째 수

  Returns
  ---
  더한 값
  '''
  print(a+b)

In [46]:
f_sum(3,5)

8

In [47]:
x = f_sum(3,5)

8

In [48]:
x

In [50]:
# 객체 안에 값이 없으므로 특수한 'None'이라는 자료형으로 나옴.
print(x)

None

### 6. 제어문

if문의 구조는 아래와 같습니다.

```python
if <조건>:
    <수행문1>
else:
    <수행문2>
```

In [51]:
num_of_apples = 4

In [54]:
# python에서는 1 이상이면 True, 0이면 False라고 보면 됨!

if num_of_apples:
  print('사과가 있다')
else:
  print('사과가 없다')

사과가 있다

In [55]:
if True:
  print('사과가 있다')
else:
  print('사과가 없다')

사과가 있다

2개 이상의 조건은 아래와 같이 작성할 수 있습니다.

```python
if <조건 1>:
    <수행문 1>
elif <조건 i>:
    <수행문 i>
else:
    <수행문 n>
```

In [56]:
wallet = ['영수증', '신용카드', '명함']

In [57]:
if '현금' in wallet:
  print('외식하자~')
elif '신용카드' in wallet:
  print('외식하자!')
else:
  print('집에 가쟈...')

외식하자!

In [58]:
if '현금' in wallet or '신용카드' in wallet:
  print('외식하자!')
else:
  print('집에 가쟈...')

외식하자!

`for` 문은 아래와 같습니다.

```python
"for" <원소(element)> "in" <시퀀스> ":"
    suite(실행문)
```

In [59]:
for i in [1,2,3,4]: print(i)

1
2
3
4

In [60]:
range(5)

range(0, 5)

In [61]:
for i in range(5): print(i)

0
1
2
3
4

In [62]:
len(letters)

7

In [63]:
for idx in range(len(letters)): print(idx, letters[idx])

0 g
1 f
2 e
3 d
4 c
5 b
6 a

`for` 문을 활용해 새로운 리스트를 만들어 봅니다.

In [ ]:
a = [1,2,3,4]

In [ ]:
a_squares = []

for num in a: a_squares.append(num**2)

a_squares

`for` 문을 항상 사용해야 하는 것은 아닙니다.

(리스트 컴프리헨션 사용)

In [67]:
[num**2 for num in a]

[1, 4, 9, 16]

`while` 문은 표현식(assignment_expression)이 참인 동안 실행을 반복하는 데 사용합니다.

```
while_stmt ::=  "while" assignment_expression ":"
                    suite(실행문)
```

In [68]:
i = 0

while i < 10:
  i += 1
  print(i)

1
2
3
4
5
6
7
8
9
10

`break` 문은 반복(loop) 중간에 반복을 멈출 수 있는 방법입니다.

In [69]:
i = 0

while i < 10:
  i += 1
  print(i)

  if i == 7:
    break

1
2
3
4
5
6
7

`while` 문으로 $\lim_{N \to \infty}(1 + \frac{1}{N})^N$ 을 구해봅시다.

$N = 10^i$ ($i = 0, 1, \dots, 5$)

In [70]:
i = 0

while i <= 5:
  N = 10**i
  print((1 + 1/N)**N)
  i+=1

2.0
2.5937424601000023
2.7048138294215285
2.7169239322355936
2.7181459268249255
2.7182682371922975

소수와 합성수를 가려내는 `prime` 함수를 작성해봅니다.

In [73]:
def prime(x):

  i = 1

  while i < x:
    i += 1
    if x % i == 0:
      break
  if x == i:
    return "소수"
  else:
    return "합성수"

In [74]:
prime(7)

'소수'

In [75]:
prime(8)

'합성수'

In [76]:
def prime_list_comp(x):
  if len([i for i in range(2,x) if x%i == 0]) == 0:
    return '소수'
  else:
    return '합성수'

In [79]:
prime_list_comp(10)

'합성수'

### 7. 외부 라이브러리 불러오기

```python
import <package_name>
import <package_name> as <alias>
from <package_name> import <module>
from <package_name> import *
```

In [77]:
import numpy as np

In [78]:
np.dot?

### 참고문헌

- 파이썬 자습서, https://docs.python.org/ko/3/tutorial
- Project Jupyter, https://en.wikipedia.org/wiki/Project_Jupyter